.call-to-action {
  position: relative;
  margin-bottom: 22px;
  padding: 0;
}

.call-to-action__background {
  display: flex;
  flex-direction: column;
  min-height: 305px;
  margin-bottom: 135px;

  background: url("../img/index-background-mobile@1x.jpg") no-repeat #65a93c;
}

.call-to-action__title {
  margin: 0;
  margin-top: 27px;
  margin-bottom: 25px;

  color: $white;
  font-size: 36px;
  line-height: 1;
  font-weight: 400;
  text-align: center;
}

.call-to-action__paragraph {
  margin: 0;

  color: $white;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}

.call-to-action__product {
  position: absolute;
  top: 166px;
  left: 20px;
}

.call-to-action__button {
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 11px;
  padding-bottom: 11px;
}

@media (min-width: $tablet-width) {
  .call-to-action {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-top: 52px;
    margin-bottom: 0;
  }

  .call-to-action__background {
    position: relative;
    min-height: auto;
    margin: 0;

    background: none;

    &::after {
      content: "";

      position: absolute;
      bottom: -581px;
      left: 29px;
      z-index: -100;
      width: 709px;
      height: 609px;

      background-image: url("../img/index-can-tablet@1x.jpg");
      background-repeat: no-repeat;
      background-color: #ffffff;
    }
  }

  .call-to-action__product {
    display: none;
  }

  .call-to-action__title {
    margin-left: 117px;
    margin-right: 222px;
    margin-top: 0;
    margin-bottom: 41px;

    font-size: 60px;
    color: $title-black;
    text-align: left;
  }

  .call-to-action__paragraph {
    position: relative;
    margin-left: 118px;
    margin-right: 354px;
    margin-bottom: 48px;

    font-size: 20px;
    color: $title-black;
    text-align: left;
  }

  .call-to-action__button {
    align-self: flex-start;
    margin-left: 119px;
    margin-right: 120px;
    margin-bottom: 529px;
    padding-left: 25px;
    padding-right: 29px;
    padding-top: 14px;
    padding-bottom: 13px;

    font-size: 20px;
  }
}

@media (min-width: $desktop-width) {
  .call-to-action {
    width: 100%;
    max-width: 1440px;
    margin-top: -108px;
    margin-bottom: 80px;
  }

  .call-to-action__background {
    position: relative;
    height: 100%;
    min-height: 696px;
    z-index: -1000;

    background-image: url("../img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-color: #65a93c;
    background-position: 100% 0;
    background-size: auto 100%;


    &::before {
      content: "";

      position: absolute;
      display: block;
      width: 50%;
      height: 100%;
      z-index: -2;

      background-color: #ffffff;
    }

    &::after {
      bottom: 55px;
      left: 0;
      z-index: -1;
      width: 552px;
      height: 499px;
      margin-left: 38.89%;

      background-image: url("../img/index-can-desktop@1x.png");
      background-color: transparent;
    }
  }

  .call-to-action__title {
    position: relative;
    top: 0;
    z-index: 100;
    margin-left: 13.25%;
    margin-right: 52.94%;
    margin-top: 222px;
    margin-bottom: 41px;
  }

  .call-to-action__paragraph {
    position: relative;
    top: 0;
    z-index: 101;
    margin-left: 13.25%;
    margin-right: 760px;
    margin-bottom: 293px;
  }

  .call-to-action__button {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 13.25%;
    margin-right: 760px;
    margin-bottom: 188px;
  }
}
