.call-to-action {
  position: relative;
  margin-bottom: 22px;
  padding: 0;
}

.call-to-action .container {
  position: relative;
}

.call-to-action__background {
  display: flex;
  flex-direction: column;
  min-height: 305px;
  margin-bottom: 135px;

  background-image: url("../img/index-background-mobile@1x.jpg");
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-color: #65a93c;
}

.call-to-action__title {
  margin: 0;
  margin-top: 27px;
  margin-bottom: 25px;

  color: $white;
  font-size: 36px;
  line-height: 1;
  font-weight: 400;
  text-align: center;
}

.call-to-action__paragraph {
  margin: 0;

  color: $white;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}

.call-to-action__product {
  position: absolute;
  bottom: 43px;
  left: 20px;
}

.call-to-action__button {
  padding-top: 11px;
  padding-bottom: 11px;
}

@media (min-width: $tablet-width) {
  .call-to-action {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-top: 52px;
    margin-bottom: 0;
  }

  .call-to-action__background {
    position: relative;
    min-height: auto;
    margin: 0;

    background: none;
  }

  .call-to-action__title {
    margin-left: 87px;
    margin-right: 192px;
    margin-top: 0;
    margin-bottom: 41px;

    font-size: 60px;
    color: $title-black;
    text-align: left;
  }

  .call-to-action__paragraph {
    position: relative;
    margin-left: 88px;
    margin-right: 324px;
    margin-bottom: 48px;

    font-size: 20px;
    color: $title-black;
    text-align: left;
  }

  .call-to-action__product {
    position: absolute;
    bottom: 0;
    left: 29px;
    z-index: -100;
    width: 709px;
    height: 609px;
  }

  .call-to-action__button {
    margin-left: 89px;
    margin-right: 374px;
    margin-bottom: 529px;
    padding-left: 25px;
    padding-right: 29px;
    padding-top: 14px;
    padding-bottom: 13px;

    font-size: 20px;
  }
}

@media (min-width: $desktop-width) {
  .call-to-action {
    margin-top: -108px;
    margin-bottom: 80px;
  }

  .call-to-action > .container {
    position: absolute;
    bottom: 0;
    left: -650px;
    margin-left: 50%;
  }

  .call-to-action__background {
    position: relative;
    width: 100vw;
    height: 100%;
    min-height: 696px;
    z-index: -1000;

    background-image: url("../img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-color: #65a93c;
    background-position: 100% 0;
    background-size: auto 100%;


    &::before {
      content: "";

      position: absolute;
      display: block;
      width: 50%;
      height: 100%;
      z-index: -2;

      background-color: #ffffff;
    }
  }

  .call-to-action__title {
    position: relative;
    top: 0;
    z-index: 100;
    margin-left: 6.56%;
    margin-right: 52.94%;
    margin-top: 222px;
    margin-bottom: 41px;
  }

  .call-to-action__paragraph {
    position: relative;
    top: 0;
    z-index: 101;
    margin-left: 6.55%;
    margin-right: 760px;
    margin-bottom: 293px;
  }

  .call-to-action__product {
    bottom: 55px;
    left: 0;
    z-index: -1;
    width: 552px;
    height: 499px;
    margin-left: 490px;
  }

  .call-to-action__button {
    bottom: 0;
    left: 0;
    margin-left: 6.55%;
    margin-right: 73.36%;
    margin-bottom: 188px;
  }
}
