.how-it-works {
  display: flex;
  flex-direction: column;
  margin-bottom: 1201px; //временно для верстки
}

.how-it-works__title {
  margin: 0;
  margin-bottom: 30px;

  color: $title-black;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
}

.how-it-works__list {
  margin: 0;
  padding: 0;
  padding-left: 80px;

  list-style: none;
}

.how-it-works__item {
  position: relative;
  margin-bottom: 26px;

  font-family: "Arial", sans-serif;
  line-height: 18px;

  &::after {
    @include after(60px, 60px);
    top: -2px;
    left: -80px;

    background-repeat: no-repeat;
    background-color: $main-green;
  }

  &--leaf::after {
    background-image: url("../img/advantage-leaf@1x.png");
    background-position: 5px 5px;
  }

  &--powder::after {
    background-image: url("../img/advantage-powder@1x.png");
    background-position: 5px 4px;
  }

  &--dining::after {
    background-image: url("../img/advantage-dining@1x.png");
    background-position: 4px 5px;
  }

  &--clock::after {
    background-image: url("../img/advantage-clock@1x.png");
    background-position: 5px 5px;
  }
}

@media (min-width: $tablet-width) {
  .how-it-works__title {
    margin-bottom: 180px;

    font-size: 60px;
    line-height: 1;
  }

  .how-it-works__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }

  .how-it-works__item {
    width: 250px;
    margin-bottom: 255px;

    font-size: 16px;
    line-height: 24px;

    &:nth-child(2n+1) {
      margin-right: 183px;
    }

    &::after {
      @include after(80px, 80px);
      top: -117px;
      left: 0;
    }

    &::before {
      counter-increment: section;
      content: counter(section);
      position: absolute;
      left: 120px;
      top: -30px;

      font-family: "Oswald", "Arial", sans-serif;
      font-size: 281px;
      color: $light-grey;
      z-index: -100;
    }
  }
}

@media (min-width: $desktop-width) {
  .how-it-works__list {
    justify-content: space-between;
  }

  .how-it-works__item {
    &:nth-child(2n+1) {
      margin-right: 0;
    }
  }
}
