.how-it-works {
  display: flex;
  flex-direction: column;
  margin-bottom: 1201px; //временно для верстки
}

.how-it-works__title {
  margin: 0;
  margin-bottom: 30px;

  color: $title-black;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
}

.how-it-works__list {
  margin: 0;
  padding: 0;
  padding-left: 80px;

  list-style: none;
}

.how-it-works__item {
  position: relative;
  margin-bottom: 26px;

  font-family: "Arial", sans-serif;
  line-height: 18px;

  &::after {
    content: "";

    position: absolute;
    display: block;
    width: 60px;
    height: 60px;
    top: -2px;
    left: -80px;

    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: $main-green;
  }

  &--leaf::after {
    background-image: url("../img/advantage-leaf@1x.png");
  }

  &--powder::after {
    background-image: url("../img/advantage-powder@1x.png");
  }

  &--dining::after {
    background-image: url("../img/advantage-dining@1x.png");
  }

  &--clock::after {
    background-image: url("../img/advantage-clock@1x.png");
  }
}

@media (min-width: $tablet-width) {
  .how-it-works__title {
    margin-bottom: 185px;

    font-size: 60px;
    line-height: 1;
  }

  .how-it-works__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }

  .how-it-works__item {
    width: 250px;
    margin-bottom: 245px;

    font-size: 16px;
    line-height: 24px;

    &:nth-child(2n+1) {
      margin-right: 134px;
    }

    &::after {
      content: "";

      position: absolute;
      display: block;
      width: 80px;
      height: 80px;
      top: -113px;
      left: 0;
    }

    &::before {
      counter-increment: section;
      content: counter(section);
      position: absolute;
      left: 113px;
      top: -25px;

      font-family: "Oswald", "Arial", sans-serif;
      font-size: 281px;
      color: $light-grey;
      z-index: -100;
    }

    &:nth-child(1)::before {
      left: 119px;
    }

    &:nth-child(2)::before {
      left: 112px;
    }
  }
}

@media (min-width: $desktop-width) {
  .how-it-works {
    padding-right: 35px;
  }

  .how-it-works__list {
    justify-content: space-between;
  }

  .how-it-works__item {
    &:nth-child(2n+1) {
      margin-right: 0;
    }
  }
}
