.main-programs {
  display: flex;
  margin-bottom: 17px;
}

.main-programs__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-programs__item {
  &:not(:last-of-type) {
    margin-bottom: 20px;
  }
}

@media (min-width: $tablet-width) {
  .main-programs {
    margin-bottom: 51px;
  }
}

@media (min-width: $desktop-width) {
  .main-programs__list {
    display: flex;
    justify-content: space-between;
  }

  .main-programs__item {
    align-self: flex-start;

    &:not(:last-of-type) {
      margin-bottom: 0;
      margin-right: 80px;
    }
  }
}
