.page-footer {
  display: flex;

  background-color: $light-grey;
}

.page-footer .container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.page-footer__logo {
  display: flex;

  border-bottom: 1px solid #eaeaea;
}

.page-footer__logo-image {
  margin: 39px auto 31px auto;
  width: 128px;
  height: 24px;
}

.page-footer__social {
  display: flex;
  padding: 0;
  margin: 0;
  margin-top: 22px;
  padding-bottom: 21px;


  border-bottom: 1px solid #eaeaea;
}

.page-footer__copyright {
  position: relative;
  margin-top: 30px;
  margin-bottom: 32px;
  align-self: flex-start;

  font-family: "Arial", sans-serif;
  font-size: 16px;
  color: $main-text-color;
  line-height: 1;
}

.page-footer__copyright-logo {
  position: absolute;
  top: -8px;
  left: 253px;
}

@media (min-width: $tablet-width) {
  .page-footer {
    min-height: 150px; //временно для сетки
  }

  .page-footer .container {
    flex-direction: row;
    align-items: center;
  }

  .page-footer__logo {
    border: none;
    margin-right: 156px;
  }

  .page-footer__social {
    border: none;
    margin-right: 138px;
  }

  .page-footer__copyright {
    align-self: center;
  }

  .page-footer__copyright-logo {
    left: 135px;
  }
}
