.page-header {
  padding: 0;
  position: relative;
  z-index: 100;
  display: flex;
  flex-direction: column;
}

.page-header .wrapper {
  display: flex;
  justify-content: space-between;
  height: 65px;
  width: 320px;
  margin: 0 auto;

  border-bottom: 1px solid #f7f7f7;
}

.page-header__logo {
  margin: 13px 0 14px 20px;
}

.page-header__nav-toggle {
  margin-top: 23px;
  margin-right: 20px;

  width: 25px;
  height: 19px;

  background: url("../img/icon-mobile-menu.svg") no-repeat;
  border: none;
}

@media (min-width: $tablet-width) {
  .page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 30px;
    min-height: 83px; //временно для сетки
  }

  .page-header .wrapper {
    width: auto;
    margin: 0;
    border: none;
  }

  .page-header__logo {
    margin: 0;
  }

  .page-header__nav-toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    min-height: 113px; //временно для сетки
    margin-bottom: 0;
    padding: 0 110px;
  }

  .page-header__logo {
    margin-top: 53px;
  }
}
