.page-footer {
  display: flex;

  background-color: $light-grey;
}

.page-footer .container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.page-footer__logo {
  display: flex;

  border-bottom: 1px solid #eaeaea;
}

.page-footer__logo-image {
  margin: 39px auto 31px auto;
  width: 128px;
  height: 24px;
}

.page-footer__social {
  display: flex;
  padding: 0;
  margin: 0;
  margin-top: 22px;
  padding-bottom: 21px;


  border-bottom: 1px solid #eaeaea;
}

.page-footer__copyright {
  position: relative;
  margin-top: 30px;
  margin-bottom: 32px;
  align-self: flex-start;

  font-size: 16px;
  color: $main-text-color;
  line-height: 1;
}

.page-footer__copyright-logo {
  position: absolute;
  top: -8px;
  left: 253px;
}
