.product {
  border-top: 1px solid $grey-stroke;
  border-left: 1px solid $grey-stroke;
  border-right: 1px solid $grey-stroke;
}

.product__information {
  display: flex;
}

.product__image {
  flex-shrink: 0;

  width: 140px;
  height: 144px;
}

.product__title {
  margin-top: 22px;
  margin-bottom: 12px;
  padding-right: 65px;

  color: $title-black;
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  text-transform: uppercase;
}

.product__characteristics {
  width: 100%;

  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
}

.product__value {
  text-align: right;
}

.product__button {
  margin-bottom: 24px;
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 3px;

  font-size: 16px;
  line-height: 20px;
}

@media (min-width: $tablet-width) {
  .product {
    position: relative;
    background-color: $light-grey;
    border: none;
  }

  .product__information {
    flex-direction: column;
  }

  .product__image {
    position: absolute;
    width: 324px;
    max-width: none;
    margin-left: 50%;
    left: -50%;

    &--small {
      height: 172px;
      top: -46px;
    }

    &--big {
      height: 208px;
      top: -82px;
    }
  }

  .product__title {
    margin-top: 164px;
    margin-bottom: 18px;
    padding: 0 58px;

    font-size: 20px;
    text-align: center;
  }

  .product__characteristics {
    font-size: 16px;
    margin-bottom: 33px;
    line-height: 31px;

    tr {
      border-bottom: 1px solid #cdcdcd;
    }
  }

  .product__button {
    margin-bottom: 40px;
  }
}

@media (min-width: $desktop-width) {
  .product:nth-child(n+5) .product__title {
    margin-top: 165px;
  }

  .product__image {
    width: 245px;
  }

  .product__title {
    padding: 0 18px;
  }

  .product__characteristics {
    margin-bottom: 33px;
  }
}
