.product {

  border-top: $grey-stroke solid 1px;
  border-left: $grey-stroke solid 1px;
  border-right: $grey-stroke solid 1px;
}

.product__information {
  display: flex;
}

.product__image {
  width: 140px;
  height: 144px;
}

.product__title {
  margin-top: 22px;
  margin-bottom: 12px;
  padding-right: 65px;

  font-family: "Oswald", "Arial", sans-serif;
  color: $title-black;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.25;
  text-transform: uppercase;
}

.product__characteristics {
  font-size: 12px;
  line-height: 1.34;
}

.product__button {
  margin-bottom: 24px;
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 3px;

  font-size: 16px;
}
