.show-more {
  display: flex;
  flex-direction: column;

  border-top: 1px solid $grey-stroke;
  border-left: 1px solid $grey-stroke;
  border-right: 1px solid $grey-stroke;
}

.show-more__title {
  position: relative;
  margin-top: 80px;
  margin-bottom: 8px;
  padding-left: 3px;

  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  &::before {
    content: "";

    position: absolute;
    display: block;
    width: 31px;
    height: 31px;
    top: -55px;
    left: -15px;
    margin-left: 50%;
    background: url("../img/icon-plus-mobile.svg") no-repeat;
    opacity: 0.2;
  }
}

.show-more__description {
  margin-bottom: 21px;

  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
}

.show-more__button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 3px;
  margin-bottom: 24px;

  font-size: 16px;
  color: $main-text-color;
  background-color: $light-grey;
}

@media (min-width: $tablet-width) {
  .show-more__title {
    padding: 0 52px;
    margin-bottom: 26px;
    margin-top: 164px;

    font-size: 20px;

    &::before {
      width: 61px;
      height: 61px;
      top: -110px;
      left: -31px;
      margin-left: 50%;
      background: url("../img/icon-plus.svg") no-repeat;
    }
  }

  .show-more__description {
    margin-bottom: 85px;
    padding: 0 37px;

    font-size: 16px;
    line-height: unset;
    text-align: center;
  }

  .show-more__button {
    margin-bottom: 40px;
  }
}

@media (min-width: $desktop-width) {
  .show-more__title {
    padding: 0 16px;
  }

  .show-more__description {
    margin-bottom: 85px;
    padding: 0;

    font-size: 16px;
    line-height: unset;
    text-align: center;
  }

  .show-more__button {
    margin-bottom: 40px;
  }
}
