html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: $mobile-width;
  padding: 0;
  margin: 0;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  color: $main-text-color;

  background-color: #ffffff;

  counter-reset: section;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*ВРЕМЕННО ДЛЯ СЕТКИ ДО ИЗУЧЕНИЯ АДАПТИВНОЙ ГРАФИКИ*/

@media (max-width: $tablet-width - 1px) {
  .mobile {
    display: block;
  }

  .tablet {
    display: none;
  }

  .desktop {
    display: none;
  }
}


@media (min-width: $tablet-width) {
  .mobile {
    display: none;
  }

  .tablet {
    display: block;
  }

  .desktop {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .mobile {
    display: none;
  }

  .tablet {
    display: none;
  }

  .desktop {
    display: block;
  }
}
